@model CreateNotificationDto
@{
    ViewData["Title"] = "CreateNotification";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Bildirim Ekleme İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Bildirim Ekle</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="notificationtype">Bildirim Türü</label>
								<input type="text" class="form-control" asp-for="Type" id="notificationtype">
							</div>
						</div><div class="card-body">
							<div class="form-group">
								<label for="notificationıcon">Bildirim İconu</label>
								<input type="text" class="form-control" asp-for="Icon" id="notificationıcon">
							</div>
						</div><div class="card-body">
							<div class="form-group">
								<label for="notificationtype"> Açıklama</label>
								<input type="text" class="form-control" asp-for="Description" id="notificationtype">
							</div>
						
						<div class="card-action">
							<button class="btn btn-success">Bildirimi Ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

