@model List<ResultReservationDto>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="content">
	<div class="container-fluid">

		<script type="text/javascript">
			$(document).ready(() => {
				var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7087/SignalRHub").build();
				$("#connstatus").text(connection.state);

				connection.start().then(() => {
					$("#connstatus").text(connection.state);

					// Her 5 saniyede bir rezervasyon listesini getir
					setInterval(() => {
						connection.invoke("GetReservaitonList");
					}, 1000);

				}).catch(err => { console.log(err); });

				// Rezervasyon listesi geldiğinde tabloyu doldur
				connection.on("ReceiveReservationList", (value) => {
					console.log(value); // Konsolda kontrol etmek için

					let tableHtml = `<table class="table mt-3">
									<thead>
										<tr>
											<th scope="col">#</th>
											<th scope="col">Ad Soyad</th>
											<th scope="col">Telefon</th>
											<th scope="col">Kişi Sayısı</th>
											<th scope="col">Rezervasyon Durumu</th>
											<th scope="col">Sil</th>
											<th scope="col">Güncelle</th>
											<th scope="col">İptal Et</th>
											<th scope="col">Onayla</th>
										</tr>
									</thead>
									<tbody>`;

					$.each(value, (index, item) => {
						tableHtml += `<tr>
										<th>${index+1}</th>
										<td>${item.name}</td>
										<td>${item.phone}</td>
										<td>${item.personCount}</td>
										<td>${item.description}</td>
										<td><a href="/Reservation/DeleteReservation/${item.reservationId}" class="btn btn-outline-danger">Sil</a></td>
										<td><a href="/Reservation/UpdateReservation/${item.reservationId}" class="btn btn-outline-success">Güncelle</a></td>
										<td><a href="/Reservation/ReservationStatusCancelled/${item.reservationId}" class="btn btn-outline-info">Rezervasyonu İptal Et</a></td>
										<td><a href="/Reservation/ReservationStatusApproved/${item.reservationId}" class="btn btn-outline-dark">Rezervasyonu Onayla</a></td>
									</tr>`;
					});

					tableHtml += "</tbody></table>";
					$("#reservationList").html(tableHtml);
				});
			});
		</script>

		<h4 class="page-title">Rezervasyon İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Rezervasyon Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Rezervasyonlarla ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
						</div>
						<div id="reservationList"></div>
						<a href="/Reservation/CreateReservation/" class="btn btn-outline-primary">Yeni Rezervasyon Girişi</a>
						<div class="mt-2">Bağlantı Durumu: <span id="connstatus"></span></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
