<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center psudo_white_primary mb_45">
            <h2>
                Müşterilerimiz Ne Diyor?
            </h2>
        </div>
        <div class="carousel-wrap row ">
            <div class="owl-carousel client_owl-carousel">
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                "Fevkalade bir deneyimdi! Yemekler çok lezzetliydi ve servis mükemmeldi. Atmosfer de çok sıcak ve davetkardı. Kesinlikle tekrar geleceğim!"
                            </p>
                            <h6>
                                Ayşe Yılmaz
                            </h6>
                            <p>
                                Mükemmel Yemek
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/feane-1.0.0/images/client1.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="box">
                        <div class="detail-box">
                            <p>
                                "Harika bir akşam yemeği deneyimi! Servis hızlı ve güleryüzlüydü. Özellikle deniz ürünleri çok taze ve lezzetliydi. Tavsiye ederim!"
                            </p>
                            <h6>
                                Mehmet Kara
                            </h6>
                            <p>
                                Unutulmaz Bir Akşam
                            </p>
                        </div>
                        <div class="img-box">
                            <img src="~/feane-1.0.0/images/client2.jpg" alt="" class="box-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
